VITE_DATANEST_SERVER=http://localhost:5175/datanest
VITE_CORE_SERVER=http://localhost:5175/core
VITE_AIVOX_SERVER=http://localhost:5175/aivox
VITE_JESOOS_SERVER=http://localhost:5175/jesoos
VITE_NIVARO_SERVER=http://localhost:5175/nivaro
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_xxxx
VITE_KEYCLOAK_URL=https://auth.semantyca.com
VITE_KEYCLOAK_REALM=xxxx
VITE_KEYCLOAK_CLIENT_ID=xxxx